<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openo.nfvo.vimadapter.service.database.mapper.VimMapper">
	<resultMap id="VimResultMap" type="org.openo.nfvo.vimadapter.util.Vim" >
		<id property="id" javaType="String" column="ID" jdbcType="VARCHAR" />
		<result property="name" javaType="String" column="NAME"
			jdbcType="VARCHAR" />
		<result property="type" javaType="String" column="TYPE"
			jdbcType="VARCHAR" />
		<result property="version" javaType="String" column="VERSION"
			jdbcType="VARCHAR" />
		<result property="userName" javaType="String" column="USERNAME"
			jdbcType="VARCHAR" />
		<result property="pwd" javaType="String" column="pwd"
			jdbcType="VARCHAR" />
		<result property="url" javaType="String" column="URL" jdbcType="VARCHAR" />
		<result property="extraInfo" javaType="String" column="EXTRAINFO"
			jdbcType="VARCHAR" />
		<result property="status" javaType="String" column="STATUS"
			jdbcType="VARCHAR" />
		<result property="createAt" javaType="java.util.Date" column="CREATEAT"
			jdbcType="TIMESTAMP" />
		<result property="updateAt" javaType="java.util.Date" column="UPDATEAT"
			jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID, NAME, TYPE, 
		VERSION, USERNAME, PWD, URL,
		 EXTRAINFO, STATUS, CREATEAT, UPDATEAT
	</sql>

	<insert id="insertVim" parameterType="org.openo.nfvo.vimadapter.util.Vim">
		INSERT INTO VIM (ID, NAME, TYPE,VERSION, USERNAME, PWD, URL,EXTRAINFO, STATUS, CREATEAT, UPDATEAT)
		select #{id},#{name},#{type},#{version},#{userName},#{pwd},#{url},
		#{extraInfo},#{status},#{createAt,jdbcType=TIMESTAMP},#{updateAt,jdbcType=TIMESTAMP} from  dual 
		where not exists (select NAME from VIM where NAME = #{name})
	</insert>
	
	<update id="updateVim" parameterType="org.openo.nfvo.vimadapter.util.Vim"> 
	    UPDATE VIM
	    <set>
			<if test="name != null">
				name=#{name},
			</if>
			<if test="userName != null">
				userName=#{userName},
			</if>
			<if test="pwd != null">
				pwd=#{pwd},
			</if>
			<if test="url != null">
				url=#{url},
			</if>
			<if test="extraInfo != null">
				extraInfo=#{extraInfo},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="updateAt != null">
				updateAt=#{updateAt},
			</if>
        </set>
        WHERE ID=#{id}
	</update>

	<delete id="deleteVim" parameterType="String">
		DELETE FROM VIM WHERE ID = #{id}
	</delete>

	<select id="indexVims" resultMap="VimResultMap" >
		select
		<include refid="Base_Column_List" />
			from vim 
		ORDER BY NAME DESC
		<if test="offset!=0 and pageSize!=0 ">
         	limit ${offset}, ${pageSize}
        </if>
		
	</select>

	<select id="getCountVims" parameterType="String" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM VIM
	</select>
	
	<select id="getVimById" parameterType="java.lang.String" resultType="org.openo.nfvo.vimadapter.util.Vim">
		SELECT <include refid="Base_Column_List" /> FROM VIM 
		WHERE id = #{id}
	</select>

	<select id="getVimByName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM VIM where name = #{name}
	</select>
	
	<select id="getVimByUrl" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM VIM WHERE url = #{url}
	</select>
	
	<select id="getVimByUpdateName" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM VIM WHERE NAME = #{name} AND ID !=#{id}
	</select>
	
</mapper>