<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>RestServlet</servlet-name>
		<servlet-class>com.huawei.bsp.roa.web.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.huawei.bsp.framework.FrameworkLoader</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/classes/spring/*.xml,classpath*:spring/applicationContext.xml</param-value>
	</context-param>

	<session-config>
		<session-timeout>10000000</session-timeout>
	</session-config>
</web-app>